<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bf.mapper.AuthorMapper">
	<select id="getCountry" resultType="com.bf.manager.dto.CountryDto">
		select * from country
	</select>
	<insert id="insert" parameterType="com.bf.manager.dto.AuthorDto">
		insert into author values(author_num_seq.nextval,#{name},#{country_num},
		#{birthday},#{education},#{career},#{debut},
		#{link},#{update_date},#{awards},#{describe})
	</insert>
	<select id="getCountryOne" parameterType="String" resultType="String">
		select nvl(country_num,'없음') from country where country_name = #{country}
	</select>
	
	<select id="authorCheck" parameterType="java.util.HashMap" resultType="int">
		select count(*) from author where name=#{name} and country_num = #{country_num} and birthday=#{birthday}
	</select>
	
	<select id="getNum" parameterType="String" resultType="int">
		select num from author where name=#{name}
	</select>
	
	<select id="getZeroAuthor" resultType="int">
		select count(*) from author where num=0
	</select>
	
	<insert id="authorInsertInit" parameterType="com.bf.manager.dto.AuthorDto">
		insert into author(num,name,country_num,update_date) values(0,#{name},#{country_num},#{update_date})
	</insert>
</mapper>