<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bf.mapper.BookMapper">
	<insert id="insertCateSecond" parameterType="String">
		insert into SECOND_CATE values(SECOND_CATE_SEQ.nextval,#{key},1)
	</insert>
	<insert id="insertBookCateSecond" parameterType="java.util.HashMap">
		insert into SECOND_CATE values(SECOND_CATE_SEQ.nextval,#{name},#{cate1})
	</insert>
	<select id="getMaxNum" resultType="int">
		select nvl(max(num),0) from second_cate
	</select>
	<insert id="insertBookCateThird" parameterType="java.util.HashMap">
		insert into THIRD_CATE values(THIRD_CATE_seq.nextval,#{name},#{cateNum})
	</insert>
	<select id="getFirstCate" resultType="com.bf.manager.dto.BookFirstCateDto">
		SELECT * FROM FIRST_CATE
	</select>
	
	<select id="checkCateOne" resultType="int">
		select count(*) from first_cate
	</select>
	
	<select id="checkCateOne2" parameterType="String" resultType="int">
		select count(*) from first_cate where name = #{name}
	</select>
	
	<select id="checkCateTwo" parameterType="String" resultType="int">
		select count(*) from SECOND_CATE where name = #{name}
	</select>
	
	<select id="checkCateThree" parameterType="String" resultType="int">
		select count(*) from THIRD_CATE where name = #{name}
	</select>
	
	<select id="getCateOneNum" parameterType="String" resultType="int">
		select num from FIRST_CATE where NAME = #{name}
	</select>
	
	<select id="getCateTwoList" parameterType="int" resultType="com.bf.manager.dto.BookSecondCateDto">
		select * from second_cate WHERE FIRST_CATE=#{num}
	</select>
	
	<select id="getCateTwoNum" parameterType="String" resultType="int">
		select num from second_cate where NAME = #{name}
	</select>
	
	<select id="getCateThreeList" parameterType="int" resultType="com.bf.manager.dto.BookThirdCateDto">
		select * from third_cate WHERE second_cate=#{num}
	</select>
	
	<select id="checkBook" parameterType="String" resultType="int">
		select count(*) from bookM where img_path = #{img_path}
	</select>
	
	<insert id="insert" parameterType="com.bf.manager.dto.BookDto">
			insert into 
			bookm(book_num,name,write_date,pub_num,author_num,illustrator_num,
			translator_num,price,support,img_path,preference,sub_title,discount,discount2,
			type,intro,pub_intro,RENTAL_PERIOD,RENTAL_PRICE) 
			values(BOOKM_NUM_SEQ.nextval,#{name},#{write_date},#{pub_num},
			#{author_num},#{illustrator_num},#{translator_num},#{price},
			#{support},#{img_path},#{preference},#{sub_title},#{discount},#{discount2},#{type},
			#{intro},#{pub_intro},#{rental_period},#{rental_price})
	</insert>
	
	<insert id="insertCateOne" parameterType="java.util.HashMap">
		insert into FIRST_CATE values(#{num},#{name})
	</insert>
	
	<insert id="insertCateTwo" parameterType="java.util.HashMap">
		insert into SECOND_CATE values(#{num},#{name},#{cate1})
	</insert>
	
	<insert id="insertCateThree" parameterType="java.util.HashMap">
		insert into THIRD_CATE values(#{num},#{name},#{cate1})
	</insert>
	
	<insert id="insertBookCategory" parameterType="java.util.HashMap">
		insert into book_category(num,book_num,cate1_num,cate2_num,cate3_num)
		select  seq.cnt ,b.BOOK_NUM , cate.fn, cate.sn, cate.tn
		from bookm b,
		  (select f.num fn, s.NUM sn, t.NUM tn
		   from FIRST_CATE f, second_cate s , THIRD_CATE t
		   where s.num = t.SECOND_CATE(+) and f.num = s.FIRST_CATE and s.name=#{cateName}) cate ,
		  (select count(*) cnt from book_category) seq
		where b.BOOK_NUM = #{currentNum}
	</insert>
	
	<insert id="insertBookCategory2" parameterType="java.util.HashMap">
		insert into book_category(num,book_num,cate1_num,cate2_num,cate3_num)
		select  seq.cnt ,b.BOOK_NUM , cate.fn, cate.sn, cate.tn
		from bookm b,
		  (select f.num fn, s.NUM sn, t.NUM tn
		   from FIRST_CATE f, second_cate s , THIRD_CATE t
		   where s.num = t.SECOND_CATE(+) and f.num = s.FIRST_CATE and t.name=#{cateName}) cate ,
		  (select count(*) cnt from book_category) seq
		where b.BOOK_NUM = #{currentNum}
	</insert>
	
	<insert id="insertBookCategory3" parameterType="java.util.HashMap">
		insert into book_category(num,book_num,cate1_num,cate2_num,cate3_num)
		select  seq.cnt ,b.BOOK_NUM , cate.fn, cate.sn, cate.tn
		from bookm b,
		  (select f.num fn, s.NUM sn, t.NUM tn
		   from FIRST_CATE f, second_cate s , THIRD_CATE t
		   where s.num = t.SECOND_CATE(+) and f.num = s.FIRST_CATE and s.name=#{cate2} and t.name=#{cate3}) cate ,
		  (select count(*) cnt from book_category) seq
		where b.BOOK_NUM = #{currentNum}
	</insert>
	
	<select id="getMaxBookNum" resultType="int">
		select nvl(max(book_num),0) from bookm
	</select>
	
	<select id="checkBookCategorySize" parameterType="java.util.HashMap" resultType="com.bf.manager.dto.BookCategoryDto">
		select  seq.num ,b.BOOK_NUM , cate.cate1_num, cate.cate2_num, cate.cate3_num
		from bookm b,
		  (select f.num cate1_num, s.NUM cate2_num, t.NUM cate3_num
		   from FIRST_CATE f, second_cate s , THIRD_CATE t
		   where s.num = t.SECOND_CATE(+) and f.num = s.FIRST_CATE and s.name=#{cateName} ) cate ,
		  (select count(*) num from book_category) seq
		where b.BOOK_NUM = #{currentNum}
	</select>
	
	<insert id="insertSeries" parameterType="String">
		insert into SERIES values(series_num_seq.nextval,#{name})
	</insert>
	
	<select id="getSeriesNum" resultType="int">
		select nvl(max(num),0) from series
	</select>
	
	<select id="checkBookName" parameterType="String" resultType="int">
		select count(*) from bookm where name=#{name}
	</select>
	
	
	<select id="getBookSearchList1" parameterType="java.util.HashMap" resultType="com.bf.manager.dto.BookSearchDto">
		SELECT * FROM(
		SELECT ROWNUM rnum, c.*
    	FROM
      		(SELECT b.BOOK_NUM, b.NAME book_name, 
		      a.NUM author_num, a.NAME author_name,
		      p.PUB_NUM pub_num, p.NAME pub_name
		      FROM bookm b, AUTHOR a ,publisher p 
      		where b.AUTHOR_NUM = a.NUM and b.PUB_NUM = p.PUB_NUM) c)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="getBookSearchList2" parameterType="java.util.HashMap" resultType="com.bf.manager.dto.BookSearchDto">
		SELECT * FROM(
		SELECT ROWNUM rnum, c.*
		    FROM
		      (SELECT b.BOOK_NUM, b.NAME book_name, 
		      a.NUM author_num, a.NAME author_name,
		      p.PUB_NUM pub_num, p.NAME pub_name 
		      FROM bookm b, AUTHOR a ,publisher p 
		      where b.AUTHOR_NUM = a.NUM  and b.PUB_NUM = p.PUB_NUM
		      and b.NAME like '%'||#{searchWord}||'%') c)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="getCount" resultType="int">
		select count(*) from bookm
	</select>
	
	<select id="getCount2" parameterType="String" resultType="int">
		select count(*) from bookm where NAME like '%'||#{searchWord}||'%'
	</select>
	
	<select id="getCateOneCount" resultType="int">
		select nvl(max(num),0) from FIRST_CATE
	</select>
	
	<select id="getCateTwoCount" resultType="int">
		select nvl(max(num),0) from SECOND_CATE
	</select>
	
	<select id="getCateThreeCount" resultType="int">
		select nvl(max(num),0) from THIRD_CATE
	</select>
	
	<select id="getBookList" parameterType="int" resultType="com.bf.manager.dto.BookDto">
		SELECT B.* FROM BOOKM B, AUTHOR A 
		WHERE A.NUM IN (B.AUTHOR_NUM, B.TRANSLATOR_NUM, B.ILLUSTRATOR_NUM) AND A.NUM = #{author_num}
		order by B.PREFERENCE
	</select>
	
	<insert id="insertKeyWord" parameterType="String">
		insert into keyword values(keyword_num_seq.nextval,#{name})
	</insert>
	
	<select id="keyNameCheck" parameterType="String" resultType="int">
		select count(*) from keyword where name=#{keyName}
	</select>
	
	<select id="bookKeyWordCheck" parameterType="java.util.HashMap" resultType="int">
		select count(*) from keyword_list a, keyword b,bookm c where a.KEYWORD_NUM = b.num and a.book_num = c.book_num and c.book_num=#{currentNum} and b.name=#{keyName} 
	</select>
	
	<select id="getKeyWordNum" parameterType="String" resultType="int">
		select num from keyword where name=#{keyName}
	</select>
	
	<insert id="insertKeyWordList" parameterType="java.util.HashMap">
		insert into keyword_list values(keyword_list_num_seq.nextval ,#{keyNum} ,#{currentNum})
	</insert>
	
	<select id="getBook" parameterType="int" resultType="com.bf.manager.dto.BookDto">
		select * from bookm where book_num = #{book_num}
	</select>
	
	<select id="getKeywordList" parameterType="int" resultType="com.bf.manager.dto.KeywordDto">
		select a.NUM , a.name from keyword a, keyword_list b, bookm c 
		where a.num = b.keyword_num and b.book_num = c.book_num and b.book_num = #{book_num}
	</select>
	
	<update id="updateBook" parameterType="com.bf.manager.dto.BookDto">
		update bookm set write_date = #{write_date} , pub_num = #{pub_num}, author_num = #{author_num},
			illustrator_num = #{illustrator_num}, translator_num = #{translator_num}, price = #{price},
			support = #{support}, img_path = #{img_path} , sub_title = #{sub_title}, type = #{type},
			intro = #{intro}, pub_intro = #{pub_intro}, rental_period = #{rental_period}, rental_price = #{rental_price}
		where book_num = #{book_num}
	</update>
	
	<update id="updateRandomPreference" parameterType="java.util.HashMap">
		UPDATE BOOKM SET PREFERENCE = #{value}
		WHERE BOOK_NUM = 
			(SELECT BOOK_NUM FROM(
			SELECT ROWNUM RNUM, BOOKM.* FROM BOOKM) A
			where rnum = #{book_num})
	</update>
	
	<insert id="insertBookCategoryOne" parameterType="java.util.HashMap">
		INSERT INTO BOOK_CATEGORY(NUM,BOOK_NUM,CATE1_NUM,CATE2_NUM,CATE3_NUM)
		values((SELECT COUNT(*)+1 CNT FROM BOOK_CATEGORY),#{book_num},#{cate1_num},#{cate2_num},#{cate3_num})
	</insert>
	
	<delete id="deleteBookCategory" parameterType="int">
		delete from book_category where book_num = #{book_num}
	</delete>
	
</mapper>

