<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bf.mapper.BookMapper">
	<insert id="insertCateSecond" parameterType="String">
		insert into SECOND_CATE values(SECOND_CATE_SEQ.nextval,#{key},1)
	</insert>
	<insert id="insertBookCateSecond" parameterType="java.util.HashMap">
		insert into SECOND_CATE values(SECOND_CATE_SEQ.nextval,#{name},#{cate1})
	</insert>
	<select id="getMaxNum" resultType="int">
		select nvl(max(num),0) from second_cate
	</select>
	<insert id="insertBookCateThird" parameterType="java.util.HashMap">
		insert into THIRD_CATE values(THIRD_CATE_seq.nextval,#{name},#{cateNum})
	</insert>
	<select id="getFirstCate" resultType="com.bf.manager.dto.BookFirstCateDto">
		SELECT * FROM FIRST_CATE
	</select>
	
	<select id="checkCateOne" resultType="int">
		select count(*) from first_cate
	</select>
	
	<select id="getCateOneNum" parameterType="String" resultType="int">
		select num from FIRST_CATE where NAME = #{name}
	</select>
	
	<select id="getCateTwoList" parameterType="int" resultType="com.bf.manager.dto.BookSecondCateDto">
		select * from second_cate WHERE FIRST_CATE=#{num}
	</select>
	
	<select id="getCateTwoNum" parameterType="String" resultType="int">
		select num from second_cate where NAME = #{name}
	</select>
	
	<select id="getCateThreeList" parameterType="int" resultType="com.bf.manager.dto.BookThirdCateDto">
		select * from third_cate WHERE second_cate=#{num}
	</select>
	
	<select id="checkBook" parameterType="String" resultType="int">
		select count(*) from bookM where img_path = #{img_path}
	</select>
	
	<insert id="insert" parameterType="com.bf.manager.dto.BookDto">
			insert into 
			bookm(book_num,name,write_date,pub_num,author_num,illustrator_num,
			translator_num,price,support,img_path,preference,sub_title,discount,discount2,
			type,intro,pub_intro) 
			values(BOOKM_NUM_SEQ.nextval,#{name},#{write_date},#{pub_num},
			#{author_num},#{illustrator_num},#{translator_num},#{price},
			#{support},#{img_path},#{preference},#{sub_title},#{discount},#{discount2},#{type},
			#{intro},#{pub_intro})
	</insert>
	
	<insert id="insertCateOne" parameterType="String">
		insert into FIRST_CATE values(FIRST_CATE_SEQ.nextval,#{name})
	</insert>
	
	<insert id="insertBookCategory" parameterType="java.util.HashMap">
		insert into book_category(num,book_num,cate1_num,cate2_num,cate3_num)
		select  seq.cnt ,b.BOOK_NUM , cate.fn, cate.sn, cate.tn
		from bookm b,
		  (select f.num fn, s.NUM sn, t.NUM tn
		   from FIRST_CATE f, second_cate s , THIRD_CATE t
		   where s.num = t.SECOND_CATE(+) and f.num = s.FIRST_CATE and (t.name=#{cateName} or s.name = #{cateName})) cate ,
		  (select count(*) cnt from book_category) seq
		where b.BOOK_NUM = #{currentNum}
	</insert>
	
	<select id="getMaxBookNum" resultType="int">
		select nvl(max(book_num),0) from bookm
	</select>
	
</mapper>

