<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bf.mapper.MainMapper">
	<insert id="register" parameterType="com.bf.main.dto.RegisterDto">
		INSERT INTO MEMBER (num,ID,PASSWORD,email,gender,register_date,birthday,marketing_check,ip,last_join,phone,NAME) VALUES(member_num_seq.nextval,#{id},#{password},#{email},#{gender},SYSDATE,#{birthday},#{marketing_check},#{ip},SYSDATE,#{phone},#{name})
	</insert>
	
	<select id="id-check" parameterType="String" resultType="String">
		SELECT ID FROM MEMBER WHERE ID LIKE #{id}||'%' 
	</select>
</mapper>