<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bf.manager.ManagerReviewMapper">

   <select id="reviewCount" resultType="Integer">
      select count(*) from review
   </select>
   <select id="reviewList" resultType="com.bf.manager.dto.ReviewManagerDto">
          <![CDATA[
select rev.* from(
SELECT rownum rnum, 
      NVL(A.CNT,0) count, 
      R.NUM R_NUM, 
      R.BOOK_NUM B_NUM, 
      R.ID R_ID, 
      R.CONTENT R_CONTENT, 
      R.STAR_POINT R_STAT, 
      R.WRITE_DATE R_WRITE_DATE,
      R.DISPLAY R_DISPLAY, 
      B.NAME B_NAME,
      nvl(pay.paycheck,-1) pcheck,
      nvl(pay.paynum,-1) pnum,
      nvl(pay.payrvpoint,-1) prvpoint
FROM REVIEW R, BOOKM B, (SELECT COUNT(*) CNT,AC.REVIEW_NUM  FROM ACCUSE AC GROUP BY AC.REVIEW_NUM) A,
    (SELECT rw.ID paycheck,  pm.num paynum, pm.review_point payrvpoint
      FROM review rw, (
       SELECT DISTINCT ID, book_num, num, review_point
       FROM payment) pm
    WHERE rw.book_num = pm.book_num
    AND rw.ID = pm.ID) pay
WHERE R.BOOK_NUM = B.BOOK_NUM AND A.REVIEW_NUM(+) = R.NUM
AND  R.WRITE_DATE >= SYSDATE -100000 AND  R.WRITE_DATE <= SYSDATE 
and pay.paycheck(+) = R.ID
  ) REV
WHERE REV.RNUM BETWEEN #{startRow} AND #{endRow}
    ]]>
   </select>

   <select id="accuseList" resultType="com.bf.manager.dto.AccuseDto"
      parameterType="java.util.Map">
             <![CDATA[
select * from(
      SELECT rownum rnum,
         R.NUM REVIEW_NUM,
         R.CONTENT REVIEW_CONTENT,
            CATE.DESCRIPTION DESCRIPTION, 
           A.ID accuse_id,
           A.NUM accuse_num,
           A.WRITE_DATE write_date,
           A.ACCUSE_NUM accuse_cate_num 
FROM ACCUSE A,REVIEW R ,ACCUSE_CATE cate
WHERE A.REVIEW_NUM=R.NUM 
AND A.ACCUSE_NUM = CATE.NUM
AND A.REVIEW_NUM = #{num}) WHERE RNUM BETWEEN #{startRow} and #{endRow}
    ]]>
   </select>
<select id="reviewSearchDate"  parameterType="java.util.Map" resultType="com.bf.manager.dto.ReviewManagerDto">
     <![CDATA[
        select * from (select rownum rnum, a.* from(
            select * from review
            where
         	write_date >= #{startDate} and write_date <= #{endDate}
            ) a)
            where rnum >=#{startRow} and rnum <=#{endRow}
    ]]>
</select>
<!-- <select id="notSearchDate"  parameterType="java.util.Map" resultType="com.bf.manager.dto.ReviewManagerDto">
     <![CDATA[
        select * from (select rownum rnum, a.* from(
            select * from review
            where
            member.name like '%'||#{searchWord}||'%'
            and 
            ) a)
            where rnum >=#{startRow} and rnum <=#{endRow}
    ]]>
</select>
 -->
 
 <select id="getReviewCount" resultType="int">
 	select count(*) from REVIEW where WRITE_DATE BETWEEN sysdate-7 and sysdate
 </select>
 
</mapper>