<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bf.mapper.OrderMapper">
	<delete id="delete_cartWishtList" parameterType="int">
		delete from cart where BOOK_NUM = #{num}
	</delete>

	<insert id="insert_cartWishList" parameterType="int">
		INSERT INTO wishlist VALUES(100,'abc',#{num})
	</insert>
</mapper>