<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bf.mapper.ServiceCenterMapper">
	
	<!-- 김동환 / 고객센터 -->
	<select id="infoCount" resultType="int">
			select count(*) from notice
	</select>
	
	<select id="infoMain" parameterType="int" resultType="com.bf.main.dto.NoticeDto">
		select * from notice order by num desc
	</select>
	
	<select id="infoRead" parameterType="int" resultType="com.bf.main.dto.NoticeDto">
		select * from notice where num=#{num}
	</select>
	
	<select id="infoSide" parameterType="int" resultType="com.bf.main.dto.NoticeDto">
		<![CDATA[
			select * from(
				select rownum rnum, a.* from(
					select * from notice order by num desc) a)
			where rnum >=1 and rnum <=10
		]]>	
	</select>
	
	<select id="questionCount" resultType="int">
			select count(*) from board_frequency
	</select>
	
	<select id="questionMain" parameterType="int" resultType="com.bf.manager.dto.BoardFrequencyDto">
		select * from board_frequency order by num desc
	</select>
			
	<select id="questionRead" parameterType="int" resultType="com.bf.manager.dto.BoardFrequencyDto">
		select * from board_frequency where num=#{num}
	</select>
		
	<select id="questionSide" parameterType="int" resultType="com.bf.manager.dto.BoardFrequencyDto">
		<![CDATA[
			select * from(
				select rownum rnum, a.* from(
					select * from board_frequency order by num desc) a)
			where rnum >=1 and rnum <=10
		]]>	
	</select>
		
	<insert id="board_ContactInsert" parameterType="com.bf.manager.dto.BoardContactDto">
		insert into board_contact(num, title, content, id, write_date, category)
		values(board_contact_num_seq.nextval, #{title}, #{content}, #{id}, #{write_date}, #{category})
	</insert>
	
	<insert id="board_ContactFileInsert" parameterType="com.bf.manager.dto.BoardContactDto">
		insert into board_contact(num, title, content, id, write_date, category, file_name, file_size, file_path)
		values(board_contact_num_seq.nextval, #{title}, #{content}, #{id}, #{write_date}, #{category}, #{file_name}, #{file_size}, #{file_path})
	</insert>
	
	<select id="inquriyCount" resultType="int">
		select count(*) from board_contact where id=#{id}
	</select>
	
	<select id="inquriylistlist" parameterType="String" resultType="com.bf.manager.dto.BoardContactDto">
		select * from board_contact where id=#{id} order by num desc
	</select>
	
	<select id="inquriyAnswer" parameterType="int" resultType="com.bf.manager.dto.BoardContactDto">
		select bc.*, q2.name q2_name from board_contact bc, qna_cate2 q2
		where bc.category = q2.num
		and bc.num=#{num} 
	</select>
	
	<select id="mainNotice" parameterType="int" resultType="com.bf.main.dto.NoticeDto">
		<![CDATA[
			select * from(
				select rownum rnum, a.* from(
					select * from notice order by num desc) a)
			where rnum >=1 and rnum <=3
		]]>	
	</select>
	
	<select id="mainMany" parameterType="int" resultType="com.bf.manager.dto.BoardFrequencyDto">
		<![CDATA[
			select * from(
				select rownum rnum, a.* from(
					select * from board_frequency order by num desc) a)
			where rnum >=1 and rnum <=3
		]]>	
	</select>
	
	<select id="infoFile" parameterType="int" resultType="com.bf.manager.dto.BoardContactDto">
		select * from board_contact where num=#{num}
	</select>
	
	
	
	<select id="idLoginMain" parameterType="int" resultType="com.bf.manager.dto.BoardFrequencyDto">
		SELECT * FROM BOARD_FREQUENCY br, QNA_CATE1 q1, QNA_CATE2 q2
      	WHERE q1.NUM =q2.CATE1_NUM
      	AND br.CATEGORY =q2.NUM
      	and q1.num = #{category} order by br.num desc
	</select>
	
	<select id="idLoginSide" parameterType="int" resultType="com.bf.manager.dto.BoardFrequencyDto">
		<![CDATA[
			SELECT * FROM (
                SELECT ROWNUM rnum, A.* FROM(
                                              SELECT br.*, q1.NUM "qna1_num", q2.num "qna2_num", q1.NAME "qna1_name", q2.name "qna2_name" FROM BOARD_FREQUENCY br, QNA_CATE1 q1, QNA_CATE2 q2
                                              WHERE q1.num = q2.cate1_num
                                              AND br.CATEGORY = q2.num
                                              AND q1.num = #{category}
                                              ORDER BY br.num DESC
                                              ) a)
			where rnum>=1 and rnum<=10
		]]>	
	</select>
		
	<select id="categoryCount" resultType="int">
		SELECT count(*) FROM BOARD_FREQUENCY br, QNA_CATE1 q1, QNA_CATE2 q2
      	WHERE q1.NUM =q2.CATE1_NUM
      	AND br.CATEGORY =q2.NUM
      	AND q1.num = #{category}
        order by br.num desc
	</select>
	
	<insert id="bookContactInsert" parameterType="com.bf.serviceCenter.dto.BookContactDto">
		insert into book_contact(num, category, book_name, book_writer, publisher, write_date, id)
		values(book_contact_num_seq.nextval, #{category}, #{book_name}, #{book_writer}, #{publisher}, #{write_date}, #{id})
	</insert>
	
	
	
	
	
	
</mapper>