<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bf.mapper.ServiceCenterMapper">
	
	<!-- 김동환 / 고객센터 -->
	<select id="infoCount" resultType="int">
			select count(*) from board_frequency
	</select>
	
	<select id="infoMain" parameterType="int" resultType="com.bf.serviceCenter.dto.ServiceCenterDtoFre">
		select * from board_frequency order by num desc
	</select>
	
	<select id="infoRead" parameterType="int" resultType="com.bf.serviceCenter.dto.ServiceCenterDtoFre">
		select * from board_frequency where num=#{num}
	</select>
	
</mapper>