@charset "UTF-8";
/* 책 상세보기에서 미리보기 버튼 누를시 보이는 미리보기화면  - 최정은 */
.example_body{
    background: #eee;
}

.exampleAll{
	width:100%;
	min-width: 100rem;
	height: 100%;
	overflow: hidden;
}

.exampleAll > div{
	width: 85%;
	height: 100%;
	border: 0px solid;
	margin: 0px auto;
}

.example_left{
	width: 60%;
	height: 100%;
	border: 0px solid red;
	float:left;
    border-right: 1px solid #bbb;
}

.example_left_head{
	width: 100%;
	height: 65px;
	border: 0px solid;
	border-bottom: 1px solid #bbb;
}

.example_left_head_title{
	font-size: 1.5rem;
    margin: 20px 5px;
    float: left;	
}

.example_left_head_title > button{
	font-size: 0.8rem;
    font-weight: bold;
    position: relative;
    top: -4px;
    left: -2px;	
}

.example_left_head_title > span:first-child{
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    top: -3px;
    right: 5px;
}

.example_left_head_button{
	float: right;
    font-size: 1rem;
    margin: 18px 18px;
}

.example_left_head_button > button{
	margin-left: -5px;
    border: 1px solid #D4CEFC;
    padding: 5px;
}

.example_left_content{
    width: 100%;
    height: 750px;
    border: 0px solid;
	margin-top: 40px;
	overflow: hidden;
}

.example_left_content > div:first-child{
	width: 100%;
    height: 750px;
    position: relative;
}

.example_left_content > div:first-child > button:first-child{
    position: relative;
    float: left;
    top: 350px;
    left: 40px;
    font-size: 1.7rem;
    font-weight: bold;
    margin-right: 10px;	
    cursor: pointer;
}

.example_left_content > div:first-child > div{
	float: left;
	width: 700px;
	text-align: center;
	position: relative;
	left: 35px;
}

.example_left_content > div:first-child > div > img{
	width: 580px;
    height: 750px;
    border: 0px solid black;
    margin: 0px auto;
    display: block;
}

.example_left_content .textView{
	width: 580px;
    border: 0px solid black;
    display: none;
    white-space: normal;
    letter-spacing: normal;
    font-size: 26px;
    line-height:40px;
    margin: 0px auto;
    padding: 20px;
    position: relative;
}

.example_left_content > div:first-child > button:last-child{
	font-size: 1.7rem;
    font-weight: bold;
    position: relative;
    top: 350px;
    left: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.example_left_bottom{
	height: 50px;
	text-align: center;
	border: 0px solid purple;
}

.example_left_bottom > .bf-index-btn-form{
	top:10px;
}

.example_right{
	float: left;
	width: 40%;
	height: 100%;
	border: 0px solid blue;	
}

.example_right_head{
    width: 100%;
    height: 65px;
    border: 0px solid;
    border-bottom: 1px solid #bbb;
    text-align: center;
}

.example_right_head_title{
    font-size: 1.5rem;
/*     margin-left: 20px; */
    padding: 20px 0px;
}

.example_right_content{
	width: 100%;
    height: 750px;
    border: 0px solid;
    margin-top: 40px;	
}

.example_right_content > div{
    width: 95%;
    height: 100%;
    margin: 5px auto;
    font-size: 1.8rem;
    line-height: 3.5rem;
    text-align: center;
}

.example_right_content > div > ul{
	
}

.example_right_content .no_view button {
    color: #888;
}

.example_active{
	background-color: #d1d0d8;
}

.example_right_content button, .example_right_content li{
	cursor: pointer;
}




