@charset "UTF-8";
/**
 * 2018-01-20
 * 염현우 : author 페이지 css
 */
.a_se_list,.a_up_list{
	background-color: white;
	padding: 1rem;
	border-bottom: 0.125rem solid Lavender;
}

.a_se_list li,.a_up_list li{
	position: relative;
	height: 2rem;
	margin-bottom: 0.5rem
}

 .a_se_list li > span:not(.a_se_btn){
	position: relative;
    top: 0.4rem;
    /* left: 3rem; */
    /* margin-right: 4.8rem; */
    display: inline-block;
    text-align: center;
}
.a_se_list li .a_se_btn{
	position: absolute;
    right: 0rem;
}
.a_up_list li > span:first-child{width: 9%;}
.a_up_list li > span:nth-child(2){
	width: 20%;
    margin: 0rem 0rem 0rem 2.5rem;
}
.a_up_list li > span:nth-child(3){width: 30%;}
.a_up_list li > span:nth-child(4){width:12%;}
.a_up_list li > span{
	position: relative;
    top: 0.4rem;
    left: 0.5rem;
    display: inline-block;
    text-align: center;
}

.a_up_list   li > .hwdropdown{
	position: absolute;
    right: 0rem;
}
.b_se_content > .a_up_checkbox{
	text-align: right;
}
.b_se_content > .a_up_checkbox > .category-filter-list{
	float: none;
}

.b_se_content > .a_up_checkbox > .category-filter-list > li{
	display: inline-block;
}

.a_up_tt {
    overflow: visible;
}
.a_up_tt > .a_up_bar > li:first-child > span {
    left: 3rem;
}
.a_up_tt > .a_up_bar > li:last-child > span{right: 2rem;} 
.a_up_bar {height: 2.2rem;}
.a_up_bar span:nth-child(1) {margin-right: 10rem;}
.a_up_bar span {
    position: relative;
    top: 0.7rem;
}

.a_se_bar{
	height: 2.2rem;
	border-top: 0.125rem solid lavender;
    font-weight: 600;
}

.a_se_bar span{
	position: relative;
    top: 0.7rem;
}
.a_se_bar span:nth-child(1) {left: 4.5rem;}

#b_se_wrapper > section > div.b_se_content > div.bf-service-type-menu.b_se_tt > ul > li:nth-child(1) > span{margin-right: 7.8rem}
#b_se_wrapper > section > div.b_se_content > div.bf-service-type-menu.b_se_tt > ul > li:nth-child(2) > span{margin-right: 7.8rem}
#b_se_wrapper > section > div.b_se_content > div.bf-service-type-menu.b_se_tt > ul > li:nth-child(3) > span{margin-right: 3.5rem;}
.a_se_list > ul > li > span:nth-child(1) {max-width: 9rem;min-width: 9rem;}
.a_se_list > ul > li > span:nth-child(2) {min-width: 12rem;max-width: 12rem;}
.a_se_list > ul > li > span:nth-child(3) {min-width: 12rem;margin-right: 2.5rem;max-width: 12rem;}

.a_in_list{
	margin-left: 7.6rem;
    font-size: 0.8rem;
}

.a_in_list li{
    /* height: 1rem; */
    padding: 0.7rem;
}

.a_up_list .bf-button{
	left: 4rem;
	top: 0.3rem;
}

.a_ur_top{
	border-bottom: 0px;
	margin-bottom: 0.5rem;
}
.a_ur_d3{
	position: relative;
	vertical-align: top;
    margin-top: 0.5rem;
}

.a_ur_ct{
	display: inline-block;
    max-width: 86%;
    line-height: 1.5rem;
    padding: 0.3rem;
}

.a_in_select{
	padding: 0.3rem;
}

/* 작가 상세보기 */
section > div.a_in_content > div.a_in_textarea2 > label{top: 0rem;}
section > div.a_in_content > div.a_in_textarea2 > p{
    margin-top: 1rem;
    border: 1px solid #776BCE;
    padding: 1rem;
    line-height: 1.7rem;
}
section > div.a_in_content > div.a_in_textarea2{
	padding: 1rem;
}

section > div.a_in_content > div.a_read_info_wrap{
	display: flex;
}

section > div.a_in_content > div.a_read_info_wrap > div.a_read_left{
	flex-grow: 1;
    border-right: 1px solid #776BCE;
    padding: 1rem;
    min-width: 26rem;
    max-width: 26rem;
}
section > div.a_in_content > div.a_read_info_wrap > div.a_read_right{

    flex-grow: 1;
	padding: 1rem;
}
section > div.a_in_content > div.a_read_info_wrap > div > div{
	margin-bottom: 0.8rem;
	display: flex;
	line-height: 1.6rem;
	max-width: 24rem;
}
section > div.a_in_content > div.a_read_info_wrap > div > div> label{
	min-width: 7rem;
    font-weight: 700;
    display: inline-block;
}

section > div.a_in_content > div.a_read_info_wrap > div > div> span{

}

#a_in_wrapper > form > section > div > div > ul > li > span{
	margin-left: 2rem;
	color : red;
	cursor: pointer;
}
#author_form > section > div.a_in_content > div > ul > li > span{
	margin-left: 2rem;
	color : red;
	cursor: pointer;
	
}