@charset "UTF-8";



#notice {
	font-size: 1rem;
	width: 56.25rem;			
}

#notice > .notice_list ul, 
#notice > .notice_list li{
	height: 3rem;
	line-height: 3rem;
}

#notice > .notice_list li{
	float:left;
	border-bottom: 1px solid #E1DFFA;
}


#notice > .notice_list .notice_list_title{
	background-color: #776bce40;	
}

#notice > .notice_list > ul li:nth-child(1){	
	width: 8.23rem;
	text-align: center;	
	color: #555;
}

#notice > .notice_list > ul li:nth-child(2){
	width: 48rem;	
}

#notice > .notice_list ul:nth-child(1)~ul:hover {
	background-color: #776bce10;
} 

#notice a{
	color: black;	
}

#notice a:hover{
	color : #776bce;
}

.notice_list_title{
	color : #555;
}

#notice > div.notice_list > nav > ul li{
	float: none;
	border: 0px;
}