@charset "UTF-8";

/*이벤트 페이지 width 값과 중앙정렬*/
.event{
	margin: 0px auto;
	width: 56.25rem;
	min-width: 56.25rem;
}

.event_header {
	margin-bottom: 1rem;
}

.event_main {
	padding: 1rem;
	overflow: hidden;
}

.event_main_img {
	overflow: hidden;
	float: left;
	margin-right: 1rem;
}

div.event_main_img > a > img{
	width: 280px;
	height: 145px;
    border: 1px solid;
    cursor: pointer;
}

.event_main_header {
	font-weight: bold;
	color: black;
	font-size: 20px;
	margin-top: 4px;
    margin-bottom: 15px;
/*     float: left; */
}

.event_main_header:hover {
	cursor: pointer;
	color: blue;
}

.event_main_text_ul-li{
	float: left;
}
.event_main_text_ul-li li{
	margin: 5px 0px;
} 

.event_main_text_ul-li li > span:first-child {
    font-weight: bold;
    width: 40px;
    float: left;
}

.event_main_text{
	float: left;
	line-height: 1.2rem;
}

.eventDetail{
	margin: 0px auto;
	width: 56.25rem;
	min-width: 56.25rem;
	cursor: pointer;
}