@charset "UTF-8";

.myridi-nearbyRead-box a,
.myridi-nearbyRead-box li,
.myridi-nearbyRead-box div,
.myridi-nearbyRead-box label,
.myridi-nearbyRead-box p {
	color: #333;
	font-size: 0.8rem;	
	letter-spacing: -.03em;
	-webkit-font-smoothing: antialiased;
}

/* My Ridi Style */
#myridi-contents-box {
	width: 56.25rem;
	position: relative;
	clear: both;
	margin: 1.875rem auto 0px;
}

.myridi-left-menu {
	float: left;
	width: 11.25rem;
	vertical-align: top;
	padding-bottom: 20rem;
}

.myridi-contents-page {
	float: left;
	width: 45rem;
	padding-bottom: 5.625rem;
}


.ridi-book-list {
	width: 100%;
	display: inline-block;
	position: relative;
}

.ridi-book-item {
	float: left;
	position: relative;
	width: 20%;
	margin-top: 1.25rem;
}

.ridi-book-item:nth-child(5n+1){
	clear: both;
	float: left;
}

.ridi-book-checkbox {
	display: block;
	position: absolute;
	top: 0.625rem;
	left: -0.375rem;
}

.ridi-book-thumbnail {
	width: 79%;
	height: 10.625rem;
	margin: 0 auto;
	position: relative;
}

.ridi-book-thumbnail-image {
	display: inline-block;
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	bottom: 0;
}

.ridi-book-thumbnail img {
	/* z-index: 10; */
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0 2px 6px rgba(0,0,0,0.4), 4px -1px 5px 0px rgba(128,128,128,0.7) inset, -4px 0px 5px 0px rgba(128,128,128,0.7) inset;
	width: 7.0625rem;
	max-height: 10.4375rem;
	display: inline-block;
	position: relative;
	left: 0;
	bottom: 0;
}

.ridi-book-thumbnail-image:after {
	content: ' ';
	/* z-index: 20; */
	display: inline-block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: -webkit-gradient(linear,left top,right top,color-stop(0,rgba(0,0,0,.3)),color-stop(5%,rgba(0,0,0,0)),color-stop(95%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,.3)));
	background: -webkit-linear-gradient(left,rgba(0,0,0,.3) 0,rgba(0,0,0,0) 5%,rgba(0,0,0,0) 95%,rgba(0,0,0,.3) 100%);
	background: -o-linear-gradient(left,rgba(0,0,0,.3) 0,rgba(0,0,0,0) 5%,rgba(0,0,0,0) 95%,rgba(0,0,0,.3) 100%);
	background: -ms-linear-gradient(left,rgba(0,0,0,.3) 0,rgba(0,0,0,0) 5%,rgba(0,0,0,0) 95%,rgba(0,0,0,.3) 100%);
	background: linear-gradient(to right,rgba(0,0,0,.3) 0,rgba(0,0,0,0) 5%,rgba(0,0,0,0) 95%,rgba(0,0,0,.3) 100%);
}

.ridi-book-thumbnail-link{
	display: block;
}

.ridi-book-metadata {
	width: 80%;
	margin: 0.5rem auto 0;
}

.ridi-book-metadata > * {
	margin-top: 0.1875rem;
}

.book-metadata-text {
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	font-size: 0.8125rem;
	font-weight: 700;
	color: #333;
	line-height: 1.125rem;
	max-height: 2.25rem;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal;
	overflow: hidden;
}

.book-metadata-author {
	display: block;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	font-size: 0.75rem;
	color: #666;
	line-height: 1.125rem;
	max-height: 2.25rem;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal;
	overflow: hidden;
}