@charset "UTF-8";

.service_information{
	font-size: 1rem;
	width: 56.25rem;
	margin-top: 2rem;
	margin: 0px auto;
}


.service_FAQ_home_content{
	margin-top: 3rem;
	margin-bottom: 3rem;
}


.service_information_title{
	margin-bottom: 2rem; 
}

.service_information_list > div{
	height: 4rem;
	line-height:4rem;
	border-bottom: 1px solid #E1DFFA;
	
}

.service_information > .service_FAQ_home_header{
	margin-bottom: 5rem; 
}

.service_information_list div:first-child {
	border-top: 1px solid #E1DFFA;
}

.service_information_content_right{
	width: 40rem;
	float: right;
}

.service_FAQ_home_header span:nth-child(2),
.service_FAQ_home_header span:nth-child(4) {
	margin: 0px 0.5rem;	
}

.service_information_content a{
	color: black;	
}

.service_information_content a:hover{
	color : #776bce;
}

.service_information_title{	
 	font-size: 2rem;
 	font-weight: bold;
 	margin-top: 0.2rem;
 	line-height: 2.7rem;
}

.service_information > .service_information_content{
	display: inline-block;
	width: 100%
}


