@charset "UTF-8";

.serviceCenter_inquriy, .service_FAQ_home_header{
	font-size: 1rem;
	width: 56.25rem;
	margin: 0px auto;
}

.serviceCenter_inquriy .serviceCenter_inquriy_name input{
	height: 2.3rem;
	width: 35rem;
	border : 1px solid black;	
}

.service_FAQ_home_header{
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.serviceCenter_inquriy_title{
	margin-bottom: 2rem;
}

.serviceCenter_inquriy_name,
.serviceCenter_inquriy_det,
.serviceCenter_inquriy_ex
{
	margin-bottom: 1.5rem;
}

.serviceCenter_inquriy_call{
	margin-bottom: 1rem;
}

.serviceCenter_inquriy .star{
	color: red;
}

.serviceCenter_inquriy_det textarea{
	height: 7rem;
	width:35rem;
	resize: vertical;
}

.serviceCenter_inquriy_ex select,
.serviceCenter_inquriy_call select{
	height: 2.3rem;
	width:35rem;
}

.serviceCenter_inquriy_call_list{
	margin-bottom: 0.5rem;
}

.serviceCenter_inquriy_call_email div{
	display: inline-block;
	line-height: 1.5rem;
} 

.serviceCenter_inquriy_file_add > .bf-custom-checkbox{
	border: 1px solid black;
	height:2.3rem;
	width: 35rem;
	text-align: center;
	line-height: 2.3rem;
}

.serviceCenter_inquriy_file_add >
.bf-custom-checkbox >
.checkbox-label{
	line-height: 2rem;
	height: 94%;
	padding: 0 0.9rem 0 0.7rem;
	background: white;
	margin-top:0.2rem;
	left: 0.5%;
}

.serviceCenter_inquriy_file_add .bf-custom-checkbox input{
	display: inline-block;
}

.serviceCenter_inquriy_file_add{
	margin-bottom: 0.4rem;
}

.serviceCenter_inquriy_sub{
	margin-top: 5rem;
}

.serviceCenter_inquriy_sub > .bf-button{
	width: 11rem;
	height: 2.5rem;
	line-height: 2rem;
	font-size: 1rem;
}

.serviceCenter_inquriy_name div:nth-child(1),
.serviceCenter_inquriy_det div:nth-child(1),
.serviceCenter_inquriy_ex div:nth-child(1),
.serviceCenter_inquriy_call div:nth-child(1),
.serviceCenter_inquriy_file div:nth-child(1)
 {
	margin-bottom: 0.5rem;
}

<!---->
.serviceCenter_inquriy_ex_check{
	float: left;
	
}
.serviceCenter_inquriy_ex_check_text{
	display: inline-block;	
}

.service_FAQ_home_header span:nth-child(2) {
	margin: 0px 0.5rem;	
}

.serviceCenter_inquriy_name input,
.serviceCenter_inquriy_ex select,
.serviceCenter_inquriy_call select,
.serviceCenter_inquriy_det textarea
{
	padding: 0.5rem;
}

.serviceCenter_inquriy_title{	
 	font-size: 2rem;
 	font-weight: bold;
 	margin-top: 0.2rem;
 	line-height: 2.7rem;
}

.serviceCenter_inquriy_file .bf-custom-checkbox{
	text-align: left;
}

.serviceCenter_inquriy_file input{
	padding: 0.25rem;
}


